<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Edit Camp Information </title>
</head>

<body> -->
<% layout("layouts/boilerplate") %>
    <h1> Edit <%=camp.title%>'s Information </h1>

    <form action="/campgrounds/<%=camp._id%>?_method=PUT" method="POST">
        <div>
            <label for="title"> Name </label>
            <input type="text" id="title" name="newCamp[title]" value="<%=camp.title%>">
        </div>
        <div>
            <label for="location"> Location </label>
            <input type="text" id="location" name="newCamp[location]" value="<%=camp.location%>">
        </div>
        <div>
            <label for="price"> Price </label>
            <input type="number" step="0.01" id="price" name="newCamp[price]" value="<%=camp.price%>">
        </div>
        <button> Submit </button>
    </form>

    <footer>
        <a href="/campgrounds/<%=camp._id%>"> Cancel </a>
        <form action="/campgrounds/<%=camp._id%>?_method=DELETE" method="POST">
            <button> Delete campground </button>
        </form>
    </footer>    
<!-- </body>

</html> -->