<!DOCTYPE html>

<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/stylesheets/Camp_Info.css">
    <title> Camp's Details </title>
</head>

<body>
    <div class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/"> YelpCamp </a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <% if (!CurrentUser) { %>
                        <li> <a href="/login">Log In</a> </li>
                        <li> <a href="/register">Sign Up</a> </li>
                    <% } else { %>  
                        <li> <a> Account: <strong><%=CurrentUser.username%></strong> </a>  </li>
                        <li> <a href="/logout">Log Out</a> </li>
                    <% } %>
                </ul>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <p class="lead"> YelpCamp </p>
                <div class="list-group">
                    <li class="list-group-item active"> Info 1 </li>
                    <li class="list-group-item"> Info 2 </li>
                    <li class="list-group-item"> Info 3 </li>
                </div>
            </div>
            <div class="col-md-9">
                <div class="thumbnail">
                    <img class="img-responsive" src="<%=Campground.Image%>">
                    <div class="caption-full">
                        <h4 class="pull-right"> $11.00/night </h4>
                        <h4>
                            <a>
                                <%=Campground.Name%>
                            </a>
                        </h4>
                        <p>
                            <%=Campground.Description%>
                        </p>
                    </div>
                </div>
                <div class="well">
                    <h4> Comments section </h4>
                    <%for(var i = 0; i <= Campground.Comments.length - 1; ++i) {%>
                        <div class="row">
                            <div class="col-md-12">
                                <hr>
                                <p>
                                    <strong> <%=Campground.Comments[i].Author%> </strong>
                                    <span class="pull-right"> 10 days ago </span>
                                </p>
                                <p>
                                    <%=Campground.Comments[i].Text%>
                                </p>
                            </div>
                        </div>
                        <%}%>
                            <div class="text-center">
                                <a class="btn btn-info" href="/campgrounds/<%=Campground._id%>/comments/new"> Write a new review </a>
                            </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>